.PollDetail .button {
  padding: 15px 50px;
  margin: -100px 50px;
}
/* .PollDetail h1 {
  overflow: auto;
  height: 5vh;
  background-color: #7d7d7d;
  width: 1300px;
  margin: 10px;
  border: #000000;
  padding: 50px; */

.PollDetailtable, th, td {
  border:1px solid black;
}
.PollDetailth, td {
  text-align: left;
  padding: 18px;
}
.PollDetail table {
  border-collapse: collapse;
  width: 30%;
  margin: 60px 50px;
}
.PollDetail th {
  background-color: #6f6f6f;
  color: white;
}
.PollDetail .PieChart{
  width: 500px;
  margin: 300px 500px;
  padding: 300px;
}
 